.env

.DS_Store

# Compiled bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*

# Certs & keys
*.pem

# Images of canvas and generated image
final_collaborative_canvas.png
generated_image.png
latest_canvas_preview.png